.card{
    display: block;
    height: 319px;
    width: 233px;
    /* background: #2A2D3A; */
    background: blueviolet;
    border-radius: 20px;
}

@media screen and (max-width: 425px) {
    .card{
        display: none;
    }
}