.black_back{
    background-color: #24252D;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 8rem;
}
.pink_box{
    background: linear-gradient(101.12deg, #EB1484 27.35%, #C91CC3 99.99%, #C81CC5 100%, #C81CC5 100%);
    height: 300px;
    width: 992px;
    color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}
.bg{
    object-fit: cover;
    color: #fff;
    display: flex;
    border-radius: 25px;
    max-width: 100%;
    max-height: 100%;
}
.content{
    position: absolute;
    height: 300px;
    width: max-content;
    color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    padding: 1rem;
}
.h1{
    margin: auto 0;
    font-size: 48px;
    line-height: 3.2rem;
}


/* Responsive Design */
@media screen and (max-width: 768px) {
    .black_back{
        background-color: #24252D;
        padding: 2rem;
        justify-content: center;
        align-items: center;
        display: flex;
        padding-top: 6rem;
    }
    .pink_box{
        background: linear-gradient(101.12deg, #EB1484 27.35%, #C91CC3 99.99%, #C81CC5 100%, #C81CC5 100%);
        height: 280px;
        width: 962px;
        color: #fff;
        display: flex;
        border-radius: 25px;
    }
    .content{
        position: absolute;
        height: 280px;
        width: fit-content;
        color: #fff;
        display: flex;
        flex-direction: column;
        border-radius: 25px;
    }
    .h1{
        font-size: 30px;
        line-height: 3rem;
    }
}
@media screen and (max-width: 612px) {
    .black_back{
        background-color: #24252D;
        padding: 2rem;
        justify-content: center;
        align-items: center;
        display: flex;
        padding-top: 6rem;
    }
    .pink_box{
        background: linear-gradient(101.12deg, #EB1484 27.35%, #C91CC3 99.99%, #C81CC5 100%, #C81CC5 100%);
        height: 260px;
        width: 902px;
        color: #fff;
        display: flex;
        border-radius: 25px;
    }
    .content{
        position: absolute;
        height: 260px;
        width: auto;
        color: #fff;
        display: flex;
        flex-direction: column;
        border-radius: 25px;
    }
    .h1{
        font-size: 25px;
        line-height: 2.5rem;
    }
}
@media screen and (max-width: 425px) {
    .black_back{
        background-color: #24252D;
        padding: 2rem;
        justify-content: center;
        align-items: center;
        display: flex;
        padding-top: 6rem;
    }
    .pink_box{
        background: linear-gradient(101.12deg, #EB1484 27.35%, #C91CC3 99.99%, #C81CC5 100%, #C81CC5 100%);
        height: 143px;
        width: 299px;
        color: #fff;
        display: flex;
        border-radius: 25px;
    }
    .content{
        position: absolute;
        height: 143px;
        width: 299px;
        color: #fff;
        display: flex;
        flex-direction: column;
    }
    .h1{
        font-size: 20px;
        line-height: 25px;
    }
}
@media screen and (max-width: 365px) {
    .content{
        position: absolute;
        height: 143px;
        width: 250px;
        color: #fff;
        display: flex;
        flex-direction: column;
    }
    .h1{
        font-size: 18px;
        line-height: 25px;
    }
}