.back{
    background-color: #24252D;
    padding: 0rem;
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6rem;
}
.left_side{
    padding: 3rem;
}
.img{
    width: 542px;
    height: auto;
    border-radius: 10px;
}
.right_side{
    color: white;
    width: 423px;
    padding-top: 4rem;
    height: 487px;
}
.content1{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.p{
    font-size: 24px;
    font-weight: 500;
}
.p1{
    font-size: small;
}
.content2{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 20px;
}
.p2{
    font-size: x-small;
}
.c_details{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.small_pro{
    width: 50px;
    height: auto;
    border-radius: 50%;
}
.content3{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}
.activeDetails{
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: white;
    text-decoration-thickness: 1.5px;
    cursor: pointer;
}
.activeOffers{
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: white;
    text-decoration-thickness: 1.5px;
    cursor: pointer;
}
.activeHistory{
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: white;
    text-decoration-thickness: 1.5px;
    cursor: pointer;
}
.li{
    color: #B4B7BC;
    cursor: pointer;
}
.li:hover{
    color: white;
}
/* .hr{
    background-color: #24252D;
    background: #24252D;
    width: 55px;
} */
.btns{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 2rem 0;
}
.buybtn{
    width: 200px;
    height: 45px;
    font-size: small;
    background-color: #C91CC3;
    border: 1px solid #C91CC3;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.ofrbtn{
    width: 200px;
    height: 45px;
    font-size: small;
    background-color: transparent;
    border: 1px solid #C91CC3;
    color: #C91CC3;
    border-radius: 10px;
    cursor: pointer;
}


/* Responsive Design */
@media screen and (max-width: 1245px) {
    .back{
        background-color: #24252D;
        padding: 1rem;
        padding-top: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        padding-bottom: 0;
    }
    .img{
        width: 480px;
        height: auto;
        border-radius: 10px;
    }
}
@media screen and (max-width: 1024px) {
    .img{
        width: 380px;
        height: auto;
        border-radius: 10px;
    }
    .right_side{
        color: white;
        width: auto;
        padding-top: 1rem;
        height: 487px;
    }
    .buybtn{
        width: 150px;
        height: 45px;
        font-size: small;
        background-color: #C91CC3;
        border: 1px solid #C91CC3;
        color: white;
        border-radius: 10px;
        cursor: pointer;
    }
    .ofrbtn{
        width: 150px;
        height: 45px;
        font-size: small;
        background-color: transparent;
        border: 1px solid #C91CC3;
        color: #C91CC3;
        border-radius: 10px;
        cursor: pointer;
    }
    .p3{
        font-size: small;
        padding: 0rem 0;
    }
}
@media screen and (max-width: 845px) {
    .img{
        width: 340px;
        height: auto;
        border-radius: 10px;
    }
    .right_side{
        color: white;
        width: auto;
        padding-top: 1rem;
        height: 487px;
    }
    .buybtn{
        width: 150px;
        height: 45px;
        font-size: small;
        background-color: #C91CC3;
        border: 1px solid #C91CC3;
        color: white;
        border-radius: 10px;
        cursor: pointer;
    }
    .ofrbtn{
        width: 150px;
        height: 45px;
        font-size: small;
        background-color: transparent;
        border: 1px solid #C91CC3;
        color: #C91CC3;
        border-radius: 10px;
        cursor: pointer;
    }
    .p3{
        font-size: x-small;
        padding: 0rem 0;
    }
}
@media screen and (max-width: 768px) {
    .back{
        background-color: #24252D;
        padding: 2rem;
        padding-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding-bottom: 0rem;
    }
    .left_side{
        padding: 2rem;
        display: flex;
        justify-content: center;
    }
    .img {
        width: 542px;
        height: auto;
        border-radius: 10px;
    }
    .p3{
        font-size: small;
        padding: 0rem 0;
    }
    .right_side{
        color: white;
        width: 423px;
        padding-top: 0rem;
        height: 487px;
    }
    .buybtn{
        width: 200px;
        height: 45px;
        font-size: small;
        background-color: #C91CC3;
        border: 1px solid #C91CC3;
        color: white;
        border-radius: 10px;
        cursor: pointer;
    }
    .ofrbtn{
        width: 200px;
        height: 45px;
        font-size: small;
        background-color: transparent;
        border: 1px solid #C91CC3;
        color: #C91CC3;
        border-radius: 10px;
        cursor: pointer;
    }
}
@media screen and (max-width: 612px) {
    .back{
        background-color: #24252D;
        padding: 2rem;
        padding-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding-bottom: 0;
    }
    .left_side{
        padding: 1rem;
        display: flex;
        justify-content: flex-start;
        padding-left: 0rem;
    }
    .img {
        width: 342px;
        height: auto;
        border-radius: 10px;
    }
    .p3{
        font-size: small;
        padding: 0rem 0;
        padding-right: 1rem;
        width: auto;
    }
    .right_side{
        color: white;
        width: auto;
        padding-top: 0rem;
        height: auto;
    }
    .btns{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 2rem 0;
        width: 300px;
        padding-bottom: 0;
    }
    .buybtn{
        width: 150px;
        height: 45px;
        font-size: small;
        background-color: #C91CC3;
        border: 1px solid #C91CC3;
        color: white;
        border-radius: 10px;
        cursor: pointer;
    }
    .ofrbtn{
        width: 150px;
        height: 45px;
        font-size: small;
        background-color: transparent;
        border: 1px solid #C91CC3;
        color: #C91CC3;
        border-radius: 10px;
        cursor: pointer;
    }
}
@media screen and (max-width: 425px) {
    .back{
        background-color: #24252D;
        padding: 2rem;
        padding-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding-bottom: 0rem;

    }
    .left_side{
        padding: 1rem;
        display: flex;
        justify-content: center;
    }
    .img {
        width: 280px;
        height: auto;
        border-radius: 10px;
    }
    .p3{
        font-size: small;
        padding: 0rem 0;
        padding-right: 1rem;
        width: auto;
    }
    .right_side{
        color: white;
        width: auto;
        padding-top: 0rem;
        height: auto;
    }
    .btns{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 1rem 0;
        width: auto;
        justify-content: flex-start;
        padding-bottom: 0;
    }
    .buybtn{
        width: 120px;
        height: 45px;
        font-size: small;
        background-color: #C91CC3;
        border: 1px solid #C91CC3;
        color: white;
        border-radius: 10px;
        cursor: pointer;
    }
    .ofrbtn{
        width: 120px;
        height: 45px;
        font-size: small;
        background-color: transparent;
        border: 1px solid #C91CC3;
        color: #C91CC3;
        border-radius: 10px;
        cursor: pointer;
    }
}