.card{
    display: none;
    height: 212px;
    width: 145px;
    /* background: #2A2D3A; */
    background: blueviolet;
    border-radius: 20px;
}

@media screen and (max-width: 612px) {
    .card{
        display: block;
    }
}
@media screen and (max-width: 375px) {
    .card{
        height: 212px;
        width: 145px;
        /* background: #2A2D3A; */
        background: blueviolet;
        border-radius: 20px;
    }
}
@media screen and (max-width: 328px) {
    .card{
        height: 210px;
        width: 135px;
        /* background: #2A2D3A; */
        background: blueviolet;
        border-radius: 20px;
    }
}